[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
jieba = "*"
pyqt5 = "*"
requests = "*"
pyqtwebengine = "*"
django = "*"
pyftpdlib = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
pypdf2 = "*"
aiofiles = "*"
fastapi = "*"
uvicorn = "*"
email-validator = "*"
elasticsearch = "*"
pymysql = "*"
pymongo = "*"
pypdf4 = "*"
pysnooper = "*"
xlrd = "*"
pandas = "*"
dask = "*"
distributed = "*"
jupyter = "*"
scapy = "*"
sqlalchemy = "*"
wxpy = "*"
maya = "*"
httptools = "*"
psutil = "*"
regex = "*"
apscheduler = "*"
ray = "*"
opencv-python = "*"
cmake = "*"
boost = "*"
netifaces = "*"
keras = "*"
netmiko = "*"
kamene = "*"
ntplib = "*"
tinify = "*"
pocoui = "*"
airtest = "*"
bs4 = "*"
fabric2 = "*"

[packages]
apscheduler = "*"
pymongo = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
