[[source]]
name = "douban"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]pylint = "*"
pandas = "*"
pymysql = "*"
bs4 = "*"
lxml = "*"
fire = "*"
xlwt = "*"
myqr = "*"
turtle = "*"
numpy = "*"

[requires]
python_version = "3.6"
